{% extends 'base.html' %}

{% block header %}
  <br>
  <h4>{% block title %}Playing as '{{ g.user.username }}'{% endblock %}</h4>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 style="font-size:30px" class="card-title">{{ game.blanked_word }}</h5>
            <form method="post">
                <div class="form-group">
                    <input class="form-control" name="letter" id="letter" maxlength="1" placeholder="Please enter a letter" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Incorrect guesses: <b>{{ game.incorrect_count }}</b> of <b>{{ MAX_INCORRECT }}</b></h5>
              <h6 class="card-subtitle mb-2 text-muted">Total turns taken: {{ game.turn_count }}</h6>
              <p class="card-text">Start time: {{ game.start_time }}</p>
              <a href="{{ url_for('reset') }}" role="button" class="btn btn-danger">Reset Game</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}